<div class="contentbox">
    <div class="view-message">
        <div class="mensagem-topo">
            <p>
                Escolha uma das categorias de mensagem abaixo e divirta-se!
            </p>
        </div>
        <div class="message-blue" *ngIf="texto != ''">
            <p class="message-content">{{ texto }}</p>
        </div>
    </div>
    <div class="categoria">
        <div *ngFor="let c of categorias">
            <button class="btn"
                    (click)="mostrarMensagem(c.id)"
                    [value]="c.id">
                {{ c.nome_categoria }}
            </button>
        </div>
    </div>
</div>