<h1>ORACLE IF</h1>

<p>Projeto desenvolvido durante a disciplina de Programação para Internet em conjunto com disciplina de Projeto de Desenvolvimento de Software durante o 4º ano do Curso Técnico em Informática.</p>
<p>Esse projeto utiliza em seu frontend o framework Angular, no backend é utilizado nodejs e express, um framework nodejs para a construção de servidores web.</p>
<p>Os componentes do grupo são: Arthur Emanuel, Damião Victor, Gabriel Teixeira e Ian Barbosa.</p>
<p>Os professores orientadores são Bruno Gurgel e Álvaro Hermano, respectivamente em PPI e PDS.</p>
