.categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    
}

.btn {
    font-family: 'Mystery Quest', monospace;
    font-size: 32pxg;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    background-color: #B1BDCD;
    transition: 314ms;
}

.btn:hover {
    background-color: #5B7290;
    color: white;
}

.btn:active {
    color: #ae1816;
}

.contentbox {
    margin: auto;
    width: 80%;
    background-color: #E7EbF0;
}
