body {
    background-color: #8B35BD;
}
.categoria {
    display: flex;
    justify-content: center;
    border-top: 3px solid #58038a;
    border-bottom: 3px solid #58038a;
    padding: 50px;
}

.btn {
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    background-color: beige;
    transition: 314ms;
}

.btn:hover {
    background-color: gray;
    color: white;
}

.contentbox {
    border-left: 3px solid #58038a;
    border-right: 3px solid #58038a;
    margin: auto;
    width: 80%;
    background-color: aliceblue;
}