<form action="">
    <div class="container">
        <form [formGroup]="dadosUsuarioForm">
            <label for="usuario"><strong>Usuário</strong></label>
            <input type="text"
                   name="usuario"
                   id="usuario"
                   required
                   placeholder="Usuario"
                   formControlName="nomeUsuario">

            <label for="senha"><strong>Senha</strong></label>
            <input type="password"
                   name="senha"
                   id="senha"
                   required
                   placeholder="Senha"
                   formControlName="senhaUsuario">
            
            <input type="button"
                   value="Enviar"
                   [disabled]="dadosUsuarioForm.invalid"
                   (click)="fazerLogin(dadosUsuarioForm)">
        </form>
    </div>
</form>
